<div class = "border-bottom row" style = "margin-bottom: 16px;padding-bottom: 8px;">
  <div class = "col-10">
    <h4
      style = "color: rgb(120,120,120); margin-bottom: 4px;"> 
      {{serviciu['title']}} 
    </h4>
  <div>
    <b>Pret:</b>{{serviciu['price']}}   
  </div>
  </div>
  <div class = "col-2 padding-right:16px">
    <a href="mailto: Beauty@Influencers.com" type="button" class = "btn btn-outline-primary float-right align-middle" style = " border-color: black; color: black; background: white">Programeaza-te aici!</a>
  </div>
</div>